@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url(./reset.css);

/* theme */
:root {
  /* selector root = racine avec les variables */
  --bgcolor: rgb(26, 27, 27);
  --color-text-title: #e5aa09;
  --color-border: #ccc;
  --border-radius: 0.4rem;
  --bgsection: #fafafa;
  --subtitle: uppercase;
  --bgmain: #34495e;
  --btn-default-color: #817f7f;
  --nom-de-votre-variable: none;
}

header > h1 {
  background-color: var(--bgcolor);
  color: var(--color-text-title);
  font-weight: normal;
  line-height: 6.5rem; /* 65px */
  text-align: center;
  font-size: 4.5rem;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section {
  background-color: var(--bgsection);
  max-width: 90rem; /* 900px */
  margin: 5rem auto;
  border: solid 0.1rem var(--color-border, var(--border-radius));
  border-radius: var(--border-radius);
  padding: 1rem;
}

section img {
  width: 100%;
  border-radius: var(--border-radius);
}
section h2 {
  text-transform: var(--subtitle);
  font-weight: 400;
}
 .btns-default{
  display: inline-block;
  width: max-content;
  background-color: var(--btn-default-color);
  line-height: 3.5rem;
  padding: .4rem 1rem;
  border-radius: var(--border-radius);
  color: var(--bgsection);
  text-transform: uppercase;
  font-size: 1.4rem;
}
 .btn-option-success{ /* couleur vert */
  background-color: #16a085;
  color: var(--bgsection);
 
  
}
.btn-option-warning{
  background-color: #c0392b;
  color: var(--bgsection);
  
}
.btn-option-success, 
.btn-option-warning{
  transition: all .3s ease-in-out;
}
/* add pseudo class hover */

.btn-option-success:hover, 
.btn-option-warning:hover{
   filter: brightness(.5); /* filter luminosité */
}





/* title level two */
.title-level-two{
  background-color: var(--btn-default-color);
  line-height: 4.5rem;
  padding: .5rem 0;
  text-align: center;
  color: var(--bgsection);
}
.title-two-option-bgc-success{
  background-color: var(--bgmain);
}
.title-two-option-bgc-warning{
  background-color: #c0392b;
}
/* création d'un bouton par un élément a */
.dark-mode{
  display: inline-block;
  width: 3%;
  vertical-align: middle;
  filter: invert(100%);
}
section .btn-default {
  display: inline-block;
  width: max-content;
  line-height: 3.5rem;
  border: solid 0.1rem var(--bgmain);
  color: var(--bgsection);
  padding: 0.3rem 1rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  background: var(--bgcolor);
  text-transform: uppercase;
  font-size: 1.4rem;
}

footer * {
  text-align: center;
  color: var(--bgsection);
}

/* class css */
ul li data:hover{
  cursor: pointer;

}
/* l'utilisation est seulement visuel */
data:hover::after {
  content: ' (Utilisation du code ' attr(value) ')'; /* pseudo class */
  font-size: 1.2rem;
  width: max-content;
  background: #f2bb06;
  padding: .4rem;
  border-radius: .4rem;
  cursor: pointer;
  margin-left: .5rem;
  box-shadow: 0 0 .8rem #817f7f;
}

.event-btn {
  width: max-content;
  border: 0;
  display: inline-block;
  line-height: 2.5;
  padding: 0 20px;
  font-size: inherit;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.event-btn:hover {
  background-color: rgba(255, 0, 0, 1);
}

.event-btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
  inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
